.Rproj.user
.Rhistory
.RData
.Ruserdata
*.gpkg
*.gpkg-shm
*.gpkg-wal
*.txt
*.Rproj
*.zip
*.7z
*.xlsx
*.png
*.RDataTmp*
.Rproj.user/
.Rhistory
.RData
.Ruserdata
*.docx
*.rds
*.tif
*.nc
*.pptx
*.JPG
*.pdf
*.qgz
Graphs/
Results/
